version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: chetu_blog_proect
      runtime: docker        # <--- Changed from ruby to docker
      repo: https://github.com/mhamza219/chetu_blog_proect
      plan: free
      region: frankfurt
      # buildCommand is removed because Docker handles it!
      # startCommand is usually defined in the Dockerfile, 
      # but you can override it here if needed:
      startCommand: bundle exec puma -C config/puma.rb
      envVars:
      - key: RAILS_MASTER_KEY # <--- Added this for your credentials
        sync: false
      - key: SECRET_KEY_BASE
        sync: false
      - key: WEATHER_API_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: WEB_CONCURRENCY
        value: "2"           # Recommended for small instances
      autoDeployTrigger: commit