<h1>Page Two</h1>

<%= turbo_frame_tag 'page-one' do%>
 <p>page loaded succesfully</p>
 <p>page loaded succesfully</p>
 <p>page loaded succesfully</p>
<%end%>


<%= turbo_frame_tag 'page-one-end' do%>
 <p>page loaded succesfully</p>
<%end%>
